{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "assert": true
  },
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "rules": {
    "camelcase": "off",
    "no-sequences": "off",
    "no-extra-parens": "error",
    "no-loop-func": "error",
    "require-yield": "error",
    "space-before-blocks": "error"
  }
}
